version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
    open-pull-requests-limit: 5
    reviewers:
      - gecah89046
    assignees:
      - gecah89046
    commit-message:
      prefix: "chore(deps):"
      include: "scope"
    allow:
      - dependency-type: "all"
    ignore:
      # Add any packages you want to ignore here
      # - dependency-name: "express"
      #   versions: ["5.x"]
